* {
    padding: 0;
    margin: 0;
}
:root {
    --c1: #c1c1c1;
}
.container-fluid{
    height:100vh;
    background-color: var(--c1);
}
@media only screen and (min-width:1000px) and (max-width: 1500px) {
    .container-fluid{
        background-color: orchid;
    }
}
.col-6{
    background-color: cornflowerblue;
}
.col-4{
    background-color: #e6e6e6;
}
.col-2{
    background-color: #f1f1f1;
}
